<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573642229969-3beeet972epmr78bus3l4b81be79s0f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573642229969-3beeet972epmr78bus3l4b81be79s0f3</string>
	<key>API_KEY</key>
	<string>AIzaSyCRyGSA1ed6jbzHQAEpo_CGZoxopBVBuLA</string>
	<key>GCM_SENDER_ID</key>
	<string>573642229969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase-LinkedIn</string>
	<key>PROJECT_ID</key>
	<string>sport-ff0c5</string>
	<key>STORAGE_BUCKET</key>
	<string>sport-ff0c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573642229969:ios:af21f5013c1ab2c043ddf0</string>
</dict>
</plist>